body{
  font-family:fantasy;
}
#logo{
   font-size:40px;
   padding-left: 3%;
   background-color: #b6b3b0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav :hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#hamburger{
  font-size:30px;
  cursor:pointer;
}
#Home{
  display: block;
}
.tabcontent {
  display: none;
  width: 100%;
  padding: 10%;
  border: 1px solid #ccc;
  border-top: none;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.space{
margin: 10px;
}
.invisible {
  visibility: hidden;
}
td{
  font-family: fantasy;
  margin: 10px;
  padding: 0px 30px 5px;
 width: 100%;
 display: flex;

}
tr{
  display: block;
 
  
}

.trmarg{
  margin-bottom: 30px;
}

.rounded {
  border-radius: 1rem
}

.nav-pills .nav-link {
  color: #555
}

.nav-pills .nav-link.active {
  color: white
}

input[type="radio"] {
  margin-right: 5px
}

.bold {
  font-weight: bold
}
#showorderform{
  float:left;
  width: 629px;
  display:inline;
}
.chartcontainer{
  display: flex;
  
}
.chartcontainer td{
  justify-content: center; 
  align-items: center; 

}
